@media (min-width:1920px) {
    .bg {
        padding-bottom: 122px;
    }

    .banner-text h1 {
        margin: 188px 0px 0px 195px;
    }

    .banner-text .slick-prev {
        top: 244px;
        left: -139px !important;
    }

    .banner-text .slick-next {
        top: 244px;
    }

    .banner-text p {
        font-size: 22px;
        margin: 48px 0px 0px 262px;
    }

    .banner-text button {
        outline: none;
        margin: 37px 0px 0px 223px;
    }
}

@media (max-width:1024px) {

    .bg {
        background-position-x: -88px;
    }
    .bg3 {
        height: 5vh;
    }
    .banner-text p {
        margin: 48px 0px 0px 83px;
    }

    .banner-text .slick-next {
        right: -41px;
    }

    .banner-text .slick-next:before {
        color: black !important;
    }

    .banner-text .slick-prev {
        left: -41px;
    }

    .banner-text .slick-prev:before {
        color: black !important;
    }

    iframe {
        width: 100%;
    }

    .slick-next {
        right: 5px;
    }

    .slick-prev {
        left: 5px;
    }

    .icon-facebook2 i {
        top: 124px;
        left: 411px;
    }

    .icon-twitter2 i {
        top: 124px;
        left: 462px;
    }

    .icon-linke2 i {
        top: 124px;
        left: 520px;
    }

    footer {
        padding: 10px 0px;
    }
    .bg3 {
        background-image: url(../images/caketopbg.png);
        height: 5vh;
    }
    .user-image img {
        width: 15%;
    }
}

@media (max-width:768px) {
    .bg {
        background-position-x: -154px;
    }
    .banner-text p {
        margin: 48px 0px 0px 32px;
    }
    .banner-text button {
        margin: 37px 0px 0px 28px;
    }
    .banner-text .slick-next {
       top: 187px;
    }
    .banner-text .slick-prev {
        top: 187px;
        left: -41px !important;
     }
    iframe {
        width: 100%;
    }
    .banner-text h1 {
        font-size: 32px;
        margin: 73px 0px 0px 83px;
    }
    .icon-facebook2 i {
        top: 124px;
        left: 284px;
    }

    .image img {
        top: -130px;
    }
    .product-card img {
        margin: 0px 0px 15px 38px;
    }
    .text-card h4 {
        font-size: 17px;
    }
    .bg3 {
        height: 6vh;
    }
    .user-image img {
        width: 15%;
    }
    .product-card2 h4 {
        font-size: 10px;
        margin: 10px 0px;
    }
    .product-card2:hover .quick-view-btn {
        left: 26px;
    }
    .quick-view-btn {
        top: 88px;
        padding: 2px 3px;
    }
}



@media (max-width:441px){
    .navbar-dark .navbar-toggler {
        background: #fa6678;
        position: fixed;
        right: 15px;
        top: 17px;
        outline: none;
    }
    bg {
        padding-bottom: 0px;
        background-position-x: -165px;
    }

    .banner-text h1 {
        font-size: 33px;
        margin: 87px 0px 0px -11px;
    }

    .banner-text p {
        margin: 48px 0px 0px 3px;
    }

    .banner-text button {
        margin: 37px 0px 0px -9px;
    }

    .banner-text .slick-next {
        right: 50px;
        top: 211px;
    }

    .banner-text .slick-prev {
        left: 50px !important;
        top: 211px;
    }
    .product-card2 h4 {
        font-size: 21px;
    }
    .quick-view-btn {
        top: 193px;
        padding: 5px 8px;
    }

    .product-card2:hover .quick-view-btn {
        left: 143px;
    }
    iframe{
        width: 100%;
    }
    .icon-twitter2 i {
        left: 162px;
        top: 117px;
    }

    .icon-facebook2 i {
        left: 112px;
        top: 117px;
    }

    .icon-linke2 i {
        left: 219px;
        top: 117px;
    }
    .banner-text .slick-next {
        right: 32px;
    }
    .latest-product .slick-next {
        right: 68px;
        top: 298px;
        background: #F69753;
        padding: 18px 18px;
        border-radius: 50%;
        transition: 0.5s ease;
        opacity: 1;
    }

    .latest-product .slick-prev {
        left: 68px;
        top: 298px;
        background: #F69753;
        padding: 18px 18px;
        border-radius: 50%;
        transition: 0.5s ease;
        opacity: 1;
    }
    .product-card img {
        margin: 0px 0px 15px 91px;
    }
    .slick-next {
        right: 26px;
        top: 273px;
    }

    .slick-prev {
        left: 26px;
        top: 273px;
    }

    .testi img {
        width: 10%;
    }

    .user-image img {
        width: 35%;
    }
    .category-headng h2 {
        margin-top: 23px;
    }

    .image img {
        width: 30%;
        top: -133px;
    }

    .subscribe-btn {
        top: 109px;
        right: 2px;
    }
}


@media (max-width:375px) {
    .navbar-dark .navbar-toggler {
        background: #fa6678;
        position: fixed;
        right: 15px;
        top: 17px;
        outline: none;
    }

    .bg {
        padding-bottom: 0px;
        background-position-x: -165px;
    }

    .banner-text h1 {
        font-size: 33px;
        margin: 87px 0px 0px -11px;
    }

    .banner-text p {
        margin: 48px 0px 0px 3px;
    }

    .banner-text button {
        margin: 37px 0px 0px -9px;
    }

    .banner-text .slick-next {
        right: 50px;
        top: 211px;
    }

    .banner-text .slick-prev {
        left: 50px !important;
        top: 211px;
    }

    .banner-text .slick-next:before {
        color: black !important;
    }

    .banner-text .slick-prev:before {
        color: black !important;
    }

    iframe {
        width: 100%;
    }

    .bg4 {
        padding: 3px 0px 30px 0px;
    }

    .latest-prdct-headng img {
        width: 15%;
        margin: 0px 0px 10px 0px;
    }

    .icon-twitter2 i {
        left: 162px;
        top: 117px;
    }

    .icon-facebook2 i {
        left: 112px;
        top: 117px;
    }

    .icon-linke2 i {
        left: 219px;
        top: 117px;
    }

    .latest-product .slick-next {
        right: 68px;
        top: 298px;
        background: #F69753;
        padding: 18px 18px;
        border-radius: 50%;
        transition: 0.5s ease;
        opacity: 1;
    }

    .latest-product .slick-prev {
        left: 68px;
        top: 298px;
        background: #F69753;
        padding: 18px 18px;
        border-radius: 50%;
        transition: 0.5s ease;
        opacity: 1;
    }

    .slick-next {
        right: 26px;
        top: 273px;
    }

    .slick-prev {
        left: 26px;
        top: 273px;
    }

    .testi img {
        width: 10%;
    }

    .user-image img {
        width: 35%;
    }

    .category-headng h2 {
        margin-top: 5px;
    }

    .image img {
        width: 30%;
        top: -133px;
    }

    .subscribe-btn {
        top: 91px;
        right: 2px;
    }

    .quick-view-btn {
        top: 174px;
    }

    .product-card2:hover .quick-view-btn {
        left: 123px;
    }

    .contact-form {
        margin: 0px 0px 20px 0px;
    }

    .footer-section img {
        margin-bottom: 5px;
    }

    .navbar-brand img {
        width: 10%;
    }

    footer {
        padding: 8px 0px;
    }
}